<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>nldemo</name>
	<displayName><![CDATA[NlDemo]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Demo patekti pastabą pardavėjui]]></description>
	<author><![CDATA[NL ]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
